## Data Encoding

1. Nominal/OHE Encoding
2. Label and Ordinal Encoding
3. Target Guided Ordinal Encoding

### Nominal/OHE Encoding
One hot encoding, also known as nominal encoding, is a technique used to represent categorical data as numerical data, which is more suitable for machine learning algorithms. In this technique, each category is represented as a binary vector where each bit corresponds to a unique category. For example, if we have a categorical variable "color" with three possible values (red, green, blue), we can represent it using one hot encoding as follows:

1. Red: [1, 0, 0]
2. Green: [0, 1, 0]
3. Blue: [0, 0, 1]

In [5]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [4]:
## Create a single datafame
df = pd.DataFrame({
    'color':['red','blue','green','red','blue']
})

In [5]:
df.head()

   color
0    red
1   blue
2  green
3    red
4   blue

In [6]:
##create an instance of OneHotencoder
encoder =OneHotEncoder()

In [7]:
## perform fit ans transform
encoded=encoder.fit_transform(df[['color']]).toarray()

In [8]:
import pandas as pd
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [9]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0

In [10]:
## for new data
encoder.transform([['blue']]).toarray()

e:\Machine\machine-learning-deep-learning-nlp\Machine Learning\Section-24 Feature Engineering\venv\lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [11]:
pd.concat([df,encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3    red         0.0          0.0        1.0
4   blue         1.0          0.0        0.0

### Label Encoding 
Label encoding and ordinal encoding are two techniques used to encode categorical data as numerical data.

Label encoding involves assigning a unique numerical label to each category in the variable. The labels are usually assigned in alphabetical order or based on the frequency of the categories. For example, if we have a categorical variable "color" with three possible values (red, green, blue), we can represent it using label encoding as follows:

1. Red: 1
2. Green: 2
3. Blue: 3

In [12]:
df.head()

   color
0    red
1   blue
2  green
3    red
4   blue

In [29]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder=LabelEncoder()

In [30]:
lbl_encoder.fit_transform(df[['color']])

e:\Machine\machine-learning-deep-learning-nlp\Machine Learning\Section-24 Feature Engineering\venv\lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 2, 0])

In [31]:
lbl_encoder.transform([['red']])

e:\Machine\machine-learning-deep-learning-nlp\Machine Learning\Section-24 Feature Engineering\venv\lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

In [32]:
lbl_encoder.transform([['blue']])

e:\Machine\machine-learning-deep-learning-nlp\Machine Learning\Section-24 Feature Engineering\venv\lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([0])

In [33]:
lbl_encoder.transform([['green']])

e:\Machine\machine-learning-deep-learning-nlp\Machine Learning\Section-24 Feature Engineering\venv\lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([1])

### Ordinal Encoding
It is used to encode categorical data that have an intrinsic order or ranking. In this technique, each category is assigned a numerical value based on its position in the order. For example, if we have a categorical variable "education level" with four possible values (high school, college, graduate, post-graduate), we can represent it using ordinal encoding as follows:

1. High school: 1
2. College: 2
3. Graduate: 3
4. Post-graduate: 4

In [3]:
#ordinal Encoding
from sklearn.preprocessing import OrdinalEncoder

In [6]:
# create a sample dataframe with ordinary variable
df= pd.DataFrame({
    'size' : ['small', 'medium', 'large', 'medium', 'small', 'large']
})

In [37]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [7]:
## create an instance of OrdinalEncoter and then fit_transform
encoder=OrdinalEncoder(categories=[['small','medium','large']])

In [9]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [10]:
encoder.transform([['small']])

e:\Machine\machine-learning-deep-learning-nlp\Machine Learning\Section-24 Feature Engineering\venv\lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])