## Handling Imbalanced Dataset

# 1. Up Sampling
# 2 . Down Smapling

In [6]:
import numpy as np
import pandas as pd

# SEt the random seed for prodicitivty
np.random.seed(123)

# Create a Dataframe with two classes
n_sample = 100
class_0_ratio =0.9
n_class_0 = int(n_sample * class_0_ratio)
n_class_1 = n_sample - n_class_0

In [8]:
n_class_0 ,n_class_1

(90, 10)

In [9]:
## CREATE   MY DATAFRAME WITH IMBALANCED DATASET...
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [10]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [12]:
df.tail()

    feature_1  feature_2  target
95  -0.557055  -1.231055       1
96   1.451080   1.730707       1
97   1.021942   1.889149       1
98   1.645176   1.658738       1
99   2.391584   1.782054       1

In [13]:
df['target'].value_counts()

target
0    90
1    10
Name: count, dtype: int64

In [14]:
## upsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [19]:
from sklearn.utils import resample
df_minority_upsampled = resample(df_minority,replace=True, #Sample with replacement
                                 n_samples = len(df_majority),
                                 random_state=42
                                 )

In [20]:
df_minority_upsampled.shape

(90, 3)

In [21]:
df_minority_upsampled.head()

    feature_1  feature_2  target
96   1.451080   1.730707       1
93   1.641064   1.873882       1
97   1.021942   1.889149       1
94   1.451358   2.197019       1
96   1.451080   1.730707       1

In [22]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [23]:
df_upsampled['target'].value_counts()

target
0    90
1    90
Name: count, dtype: int64

## Down Sampling

In [24]:
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

df = pd.concat([class_0, class_1]).reset_index(drop=True)

# Check the class distribution
print(df['target'].value_counts())

target
0    900
1    100
Name: count, dtype: int64

In [ ]:
## downsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [25]:
from sklearn.utils import resample
df_majority_downsampled = resample(df_majority,replace=False, #Sample with replacement
                                 n_samples = len(df_minority),
                                 random_state=42
                                 )

In [28]:
df_majority_downsampled.shape

(10, 3)

In [30]:
df_downsampled=pd.concat([df_minority,df_majority_downsampled])

In [31]:
df_downsampled['target'].value_counts()

target
1    10
0    10
Name: count, dtype: int64