### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [1]:
import sqlite3

In [26]:
connection=sqlite3.connect('test5.db')
cursor=connection.cursor()

cursor.execute(''' 
    CREATE TABLE IF NOT EXISTS employees(
               ID Integer PRIMARY KEY,
               name TEXT NOT NULL,
               age INTEGER,
               department TEXT
               )
''')

text_data=[
    ('Md Inmul',24,'cs'),
    ('Kunal',33,'bs'),
    ('rahul',14,'ts'),
    ('dhoni',39,'csk')
]

cursor.executemany(''' 
 Insert into employees(name, age, department)
                   values(?,?,?)
''',text_data  
)

connection.commit()

In [27]:
cursor.execute('Select * from employees')
row=cursor.fetchall()

for rows in row:
    print(rows)

(1, 'Md Inmul', 24, 'cs')
(2, 'Kunal', 33, 'bs')
(3, 'rahul', 14, 'ts')
(4, 'dhoni', 39, 'csk')

In [ ]:
cursor.execute('''
UPDATE employees 
''')


### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

In [31]:
def insert_employees(name,age,department):
    conn=sqlite3.connect("test5.db")
    cursor=conn.cursor()
    cursor.execute('''
    INSERT INTO employees(name,age,department)
                   values(?,?,?)
    ''',(name,age,department))
    conn.commit()
    conn.close()
    print("Employee Inserted Successfully")


insert_employees('Alice', 30, 'HR')

Employee Inserted Successfully

In [44]:
def fetch_all_employees():
    conn = sqlite3.connect('test5.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees')
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

# Test the function
fetch_all_employees()

(1, 'Md Inmul', 24, 'cs')
(2, 'Kunal', 33, 'bs')
(3, 'rahul', 14, 'ts')
(4, 'dhoni', 39, 'csk')
(5, 'Alice', 30, 'HR')
(6, 'Bob', 25, 'Engineering')
(7, 'Charlie', 28, 'Sales')
(8, 'David', 35, 'Marketing')
(9, 'Eve', 22, 'HR')

In [33]:
# Insert 5 different employees
insert_employees('Bob', 25, 'Engineering')
insert_employees( 'Charlie', 28, 'Sales')
insert_employees( 'David', 35, 'Marketing')
insert_employees( 'Eve', 22, 'HR')

Employee Inserted Successfully
Employee Inserted Successfully
Employee Inserted Successfully
Employee Inserted Successfully

In [34]:
cursor.execute('Select * from employees')
row=cursor.fetchall()

for rows in row:
    print(rows)

(1, 'Md Inmul', 24, 'cs')
(2, 'Kunal', 33, 'bs')
(3, 'rahul', 14, 'ts')
(4, 'dhoni', 39, 'csk')
(5, 'Alice', 30, 'HR')
(6, 'Bob', 25, 'Engineering')
(7, 'Charlie', 28, 'Sales')
(8, 'David', 35, 'Marketing')
(9, 'Eve', 22, 'HR')

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

In [39]:
def fetch_employee(department):
    conn=sqlite3.connect('test5.db')
    cursor=conn.cursor()
    cursor.execute('SELECT * FROM  employees WHERE department = ?',(department,))
    rows= cursor.fetchall()
    conn.close()
    for row in rows:
        print(row)


fetch_employee('HR')

(5, 'Alice', 30, 'HR')
(9, 'Eve', 22, 'HR')


### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

In [52]:
def fetch_employe_id(id,department):
    conn=sqlite3.connect('test5.db')
    cursor=conn.cursor()
    cursor.execute('''UPDATE  employees
                   SET department= ?
                   WHERE id = ? 
    ''',(department,id))
    conn.commit()
    conn.close()
    print("database updated succcessfully")

fetch_employe_id(4,'fitfat')
fetch_employe_id(2, 'Research6')
fetch_employe_id(3, 'Customer Support')
fetch_all_employees()

database updated succcessfully
database updated succcessfully
database updated succcessfully
(1, 'Md Inmul', 24, 'cs')
(2, 'Kunal', 33, 'Research6')
(3, 'rahul', 14, 'Customer Support')
(4, 'dhoni', 39, 'fitfat')
(5, 'Alice', 30, 'HR')
(6, 'Bob', 25, 'Engineering')
(7, 'Charlie', 28, 'Sales')
(8, 'David', 35, 'Marketing')
(9, 'Eve', 22, 'HR')

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

In [53]:
def delete_employe_id(id):
    conn=sqlite3.connect('test5.db')
    cursor=conn.cursor()
    cursor.execute('''DELETE FROM employees
                   WHERE id = ? 
    ''',(id,))
    conn.commit()
    conn.close()
    print("emplyee deleted succcessfully")


delete_employe_id(4)
fetch_all_employees()

emplyee deleted succcessfully
(1, 'Md Inmul', 24, 'cs')
(2, 'Kunal', 33, 'Research6')
(3, 'rahul', 14, 'Customer Support')
(5, 'Alice', 30, 'HR')
(6, 'Bob', 25, 'Engineering')
(7, 'Charlie', 28, 'Sales')
(8, 'David', 35, 'Marketing')
(9, 'Eve', 22, 'HR')