
SQL And SQLite

SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [1]:
import sqlite3

In [ ]:
import sqlite3

# Step 1: Connect to database
connection = sqlite3.connect("students.db")

# Step 2: Create a cursor object
cursor = connection.cursor()

# Step 3: Execute a query
cursor.execute("CREATE TABLE IF NOT EXISTS students (id INTEGER, name TEXT)")

# Step 4: Insert data
cursor.execute("INSERT INTO students VALUES (1, 'Inzamam')")
connection.commit()  # Save changes

# Step 5: Fetch data
cursor.execute("SELECT * FROM students")
print(cursor.fetchall())

# Step 6: Close
cursor.close()
connection.close()

In [3]:
connection=sqlite3.connect('example.db')
connection

In [4]:
cursor=connection.cursor()

In [6]:
## create a Table
cursor.execute(''' 
CREATE TABLE IF NOT EXISTS employe(
    id Integer Primary key,
    name text Not Null,
    age Integer,
    department text 
    )
''')
connection.commit()

In [7]:
cursor.execute(''' 
 Select * from employe
''')

In [8]:
cursor.execute('''
Insert Into employe(name,age,department)
               values('Inamul',22,'Data Scientist')
''')

cursor.execute('''
Insert Into employe(name,age,department)
               values('kunal',12,'business Scientist')
''')

cursor.execute('''
Insert Into employe(name,age,department)
               values('infinity',24,' Scientist')
''')

## comit the chnages
connection.commit()

In [9]:
## Query the data from the table
cursor.execute('Select * from employe')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Inamul', 22, 'Data Scientist')
(2, 'kunal', 12, 'business Scientist')
(3, 'infinity', 24, ' Scientist')

In [10]:
## Update the Data in the Table
cursor.execute('''
UPDATE employe
Set age =34
where name ="Inamul"               
''')

connection.commit()

In [11]:
## Query the data from the table
cursor.execute('Select * from employe')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Inamul', 34, 'Data Scientist')
(2, 'kunal', 12, 'business Scientist')
(3, 'infinity', 24, ' Scientist')

In [12]:
cursor.execute('''
Delete from employe
               where name ="kunal"
''')
connection.commit()

In [13]:
## Query the data from the table
cursor.execute('Select * from employe')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Inamul', 34, 'Data Scientist')
(3, 'infinity', 24, ' Scientist')

In [18]:
## Working with Sales Data
# Connect to an SQLit database
connection= sqlite3.connect('sales_data.db')
cursor = connection.cursor()

#Create a Table for sales data
cursor.execute(''' 
CREATE TABLE IF NOT EXISTS sales (
    id Integer PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region  TEXT
    )
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)
connection.commit()

In [19]:
cursor.execute('Select * from sales')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [20]:
connection.close()